{{ 'footer.css' | asset_url | stylesheet_tag }}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <footer class="footer">
        <div class="container-footer">
            <div class="row">
                <div class="footer-col">
                    <h4>Products</h4>
                    <ul>
                        <li>
                            <a class="footer-links" href="#">Pc Components</a>
                            <a class="footer-links" href="#">Console and Accesories</a>
                            <a class="footer-links" href="#">Videogames</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>About us</h4>
                    <ul>
                        <li>
                            <a class="footer-links" href="#">Who are Pachecos games</a>
                            <a class="footer-links" href="#">Notice</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Terms and Cookies</h4>
                    <ul>
                        <li>
                            <a class="footer-links" href="#">Condition</a>
                            <a class="footer-links" href="#">Our Service</a>
                            <a class="footer-links" href="#">Privacity</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <ul>
                            <li>
                                <a class="social-logo" href="#"><i class="fa-brands fa-facebook"></i></a>
                                <a class="social-logo" href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a class="social-logo" href="#"><i class="fa-brands fa-tiktok"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>